
*{
  font-family: 'Droid Serif', serif;

}

section {
  counter-reset: bloque; 
  margin-top: 80px;
  }

.bloque::before {
    counter-increment: bloque;
    content: "Pregunta " counter(bloque) ;
  }

main{
  max-width: 1080px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

body{
  background-color: white;
  color: #333333;
  margin: 0;
}

h1{
  font-size: 36px;
  font-weight: bold  ;

}



nav a{
  color: cornflowerblue;
  text-decoration:none;
  
}
li{
  list-style: none;
  
}
header{
  max-width : 1080px;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}

ul {
  list-style-type: none;
}

section{
  margin-top: 80px;
}

.pregunta{
  margin-top: 1ex;
  margin-bottom: 1ex;
}

.idioma{
  font-style: italic;
}



footer{
  height: 50px;
  line-height: 50px;
  margin-top: 100px;
  background-color: steelblue;
  width: 100%;
  font-size: 80%;
  color:white;
  text-align:center;
  
}

footer span a{
  color: lightgray;
}
.bloque{
  position: relative;
  background-color: whitesmoke;
  border-width: 1px;
  border-color: lightgray;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 6px 6px 3px slategray;
}


.respuesta[data-valor="true"]::after {
  content: "Verdadero";
}

.respuesta[data-valor="false"]::after {
  content: "Falso";
}

.formulario ul{
  list-style: none;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;

}

.formulario li{
  padding: 12px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #eee;

}

.formulario li:first-child{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #777;
  
}

.formulario li:last-child{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #777;

}

.formulario label{
  display: inline-block;
  width: 15em;
}

.formulario input[type="text"]{
  border: 1px solid #aaa;
  box-shadow: 0px 0px 3px #ccc, 0 5px 8px #eee inset;
  border-radius:2px;
}

.formulario input[type="url"]{
  border: 1px solid #aaa;
  box-shadow: 0px 0px 3px #ccc, 0 5px 8px #eee inset;
  border-radius:2px;
}

.borra{
  position: absolute;
  right: 2px;
  top: 1px;
  cursor: pointer;
}
